<html ng-app>
	<head>
	<meta charset="utf-8">
	<title>Angular.js Example</title>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script>
		function NameCtrl($scope){
		$scope.firstname='Mr';
		$scope.lastname='Murugesan'
		}
		</script>
	</head>
		<body ng-controller="NameCtrl">
		First Name:<input ng-model="firstname" type="text"/>
		<br>
		Last Name:<input ng-model="lastname" type="text"/>
		</br>
		
		Hello ! {{firstname}}{{" "}}{{lastname}}
		</body>
</html>