<html ng-app="search">
	<head>
	<meta charset="utf-8">
	<title>Angular.js Example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
 crossorigin="anonymous">
	<script src="lib/angular.js"></script>
	<script src="angu.js"></script>
	
	</head>
		<body>
			<div>
		
<!--		<div class="container" data-ng-controller="SimpleController">-->
    <div data-ng-view="">
		
<!--		Name:<input type="text" data-ng-model="name"/>-->
		
<!--		Hello <em>{{name}}</em>-->
		
		
<!--
		<ul>
			<li data-ng-repeat="cust in customers | filter:name |orderBy: 'city'">{{cust.name |uppercase}}-{{cust.city| lowercase}}</li>
		</ul>
		
-->
		</div>
		</div>
		
		</body>
		
		
</html>